			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="img/back.png" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="img/sopra.png" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong id="myname">FARIA Isaías </strong>
								<span class='subline'>Sopra Steria (55 feuilles)</span>
							</div>
						</div>
					</div>
				</div>

				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Mon Compte</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
					<li><a href="#" onclick="" data-ajax='false' data-icon="false"><i class="zmdi zmdi-account-circle zmd-fw"></i> Mon Profil</a></li>
					<li><a href="#" onclick="setCookie('myId','',30); window.location.replace('inscription_employeur.html');" data-ajax='false' data-icon="false"><i class="zmdi zmdi-accounts zmd-fw"></i> Mes Employeurs</a></li>
					</ul>
				</div>


					<div data-role="collapsible" data-inset="false" data-collapsed-icon="false" data-expanded-icon="carat-d" data-iconpos="false">
					<h3>Mes Feuilles</h3>
				
				</div>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="false">
					<h3>Ma Contribution</h3>
					<ul data-role="listview" data-icon="false">
					</ul>
				</div>
				<ul data-role="listview" data-inset="false">
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="false">
					<h3>Produits Bio</h3>
					<ul data-role="listview" data-icon="false">
				</div>
				</ul>

				<div
					<ul data-role="listview" data-inset="false" data-icon="false">
					<li><a href="#" onclick="setCookie('myId','',30); window.location.replace('index_login.html');" data-ajax='false' data-icon="false"><i class="zmdi zmdi-power-off-setting zmd-fw"></i> Déconnexion</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->


